html * {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    margin: 0 auto;
    padding:0;
    background-repeat: no-repeat;
    background-color: rgb(4, 4, 4);
    height: 80%;
    background-position: center center fixed;
	background-attachment:fixed;
    background-position: center center fixed;
	background-attachment:fixed;
}

h1 {
    position:absolute;
    font-family: 'Eczar', serif;
    color: rgb(255, 253, 253);
    letter-spacing: 4px;
    padding:5%;
    z-index:1;
    font-weight: light;
    font-size:2.5em;

}

h2 {
    color:white;
    font-family: 'Eczar', serif;
    letter-spacing: 2px;
    font-weight: lighter;
    transform:translateY(180px);
    margin-left:8%;
    font-size:1.8em;
    font-style: italic;
}

h3 {
    color:white;
    font-family: 'Eczar', serif;
    letter-spacing: 2px;
    font-weight: lighter;
    transform:translateY(180px);
    margin-left:8%;
    font-size:1.8em;  
    display: inline-block;
}

img {
    position:relative;
    z-index:0;
filter: brightness(90%);
filter: opacity(60%);
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform:translateY(-60%)
}

.hashigo {
    position:relative;
    z-index:2;
    margin-left:3%;
    transform: translateY(50%)
}

.chore-share {
    position:relative;
    z-index:2;
    margin-left:3%;
    transform: translateY(100%)
}

.fml {
    position:relative;
    z-index:2;
    margin-left:3%;
    transform: translateY(140%)
}

.number {
    color:rgb(190, 11, 11);
    font-size:1em;
}

.project-name, .links {
    font-size:1.2em;
    font-family: 'Eczar', serif;
    font-style: normal;
}

.links {
    font-style:italic;
    border: 1px solid white;
    border-radius: 10%;
    padding-left:2px;
    padding-right:5px;
}

.links:hover{
    background-color:rgb(141, 10, 10);
    cursor: pointer;
}

.skills {
    position:relative;
    z-index: 2;
    transform: translateY(200px)
}

p {
    
    color:white;
    font-family: 'Eczar', serif;
    margin-left:11%;
    transform: translateY(200px);
    font-size:1.2em;
    letter-spacing:2px;
}