@font-face {
    font-family: 'Canela-Medium'; 
    src: url('../src/Fonts/Canela-Regular.woff') format('woff'); 
}

@font-face{
    font-family:'Helvetica';
    src: local('Helvetica'), local('Helvetica'),
     url('../src/Fonts/HelveticaNeue-Medium.ttf') format('tff');
}

body {
    font-family: 'Canela-Medium';
    background-color: rgb(253, 246, 236);
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1200px;
}

.nav {
    display:flex;
    flex-direction: row;
    align-items:center;
    color:rgb(104, 98, 98); 
    border-bottom: 1px solid rgb(184, 173, 173);
    padding:1%;
}

.nav h2 {
    font-size:large;
    font-family: 'Roboto', sans-serif;
}

.nav img {
width:15%;
height:15%;
border-radius: 100%;
padding:1%;;
}

.bio {
    font-family: 'Roboto', sans-serif;
    width:50%;
    border-right: 1px solid rgb(194, 185, 185);
    margin-top:1%;
}

.bio li {
    list-style-type: none;
    padding:5px;
}

.bio h2 {
    font-family: 'Canela-Medium';
    color:rgb(104, 98, 98); 
}

ul img {
    height:20px;
    width:25px;
}

.skill {
    display: flex;
    flex-direction:row;
}

.main-layout {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.projects {
    width:50%;
    padding:0.8%;
    padding-left:1%;
}

.projects h2 {
    color:rgb(104, 98, 98); 
    
}

.project-container-container {
    display:grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 1 fr 1fr;
    font-family: 'Roboto', sans-serif;
    color:rgb(104, 98, 98); 
   
}

.project-container {
    border-bottom: 1px solid rgb(182, 173, 173);
    width:80%;
}

.project-container img {
    width:200px;
    height:100px;
    border-radius:5%;
}

.footer {
  margin-top:5%;
  background-color: antiquewhite;
}

.footer ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.footer li {
    padding:1%;
}